/* body {
    background-color: red;
} */

#cv-form {
    /* display: none; */
}

#cv-template {
    display: none;
}

.myimg {
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 200px;
}

.background {
    background-color: aqua;
}

.error {
    color: red;
    size: 80%;
}

.hidden {
    display: none;
}